// Template colors
$primaryColor: #5380ea;
$secondaryColor: #ffffff;
$paragraphLightColor: #ffffffd5;
$paragraphDarkColor: #475569;
$blueColor: #12244f;
$fuchsiaColor: #d91c5e;
$darkBlueColor: #0a1e40;
$dangerColor: #ff0e0e;
// template fonts sizes
$heroHeading: clamp(1rem, 10vw, 1rem);
$mainHeading: clamp(0.62rem, 10vw, 0.62rem);
$subHeading: clamp(0.5rem, 10vw, 0.5rem);
$largeParagraph: clamp(0.45rem, 10vw, 0.45rem);
$smallParagraph: clamp(0.4rem, 10vw, 0.4rem);
